<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Linkman">
	<select id="getList" parameterType="java.util.Map" resultType="com.lxit.crm.entity.Linkman">
		select id,linkmannumber,
		<choose>
			<when test="linkmanId!=null">
				linkmansex,
			</when>
			<otherwise>
				dictionaryvalue as linkmansex,
			</otherwise>
		</choose>
		linkmanName,linkmanbirth,linkmanphone,linkmanworkphone,linakmanhousephone,linkmanemail,linkmanaddress,linkmanremoek,startDate,l.userId as userId from linkman l,dictionary d where l.linkmansex = d.dectionarycodingId 
		<if test="linkman!=null">
			and linkmanName like #{linkman}
		</if>
		
		<if test="pageIndex!=null">
			and l.userId= #{userId}

			limit #{pageIndex},#{pageSize}
		</if>
		
		<if test="linkmanId!=null">
			and id=#{linkmanId}
		</if>
		
		
	</select>
	
	<select id="getCount"  parameterType="java.util.Map" resultType="int">
		select count(1) from linkman where userId= #{userId}
		<if test="linkman!=null">
			and linkmanName like #{linkman}
		</if>
	</select>
	
	<insert id="insert" parameterType="com.lxit.crm.entity.Linkman">
		insert into linkman (linkmannumber,linkmansex,linkmanName,linkmanbirth,linkmanphone,linkmanworkphone,linakmanhousephone,linkmanemail,linkmanaddress,linkmanremoek,startDate,userid)
		values(#{linkmannumber},#{linkmansex},#{linkmanName},#{linkmanbirth},#{linkmanphone},#{linkmanworkphone},#{linakmanhousephone},#{linkmanemail},#{linkmanaddress},#{linkmanremoek},#{startDate},#{userId})
	</insert>
	
	<update id="update" parameterType="com.lxit.crm.entity.Linkman">
		update linkman set linkmannumber=#{linkmannumber},linkmansex=#{linkmansex},linkmanName=#{linkmanName},linkmanbirth=#{linkmanbirth},linkmanphone=#{linkmanphone},linakmanhousephone=#{linakmanhousephone},linkmanemail=#{linkmanemail},linkmanaddress=#{linkmanaddress},linkmanremoek=#{linkmanremoek} where id = #{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from linkman where id = #{id}
	</delete>
</mapper>